{% extends "base.html" %}
{% block title %}Password reset{% endblock %}

{% block content %}

   <div class = "bradcam_area breadcam_bg overlay2">

      <div class = "container">

         <div class = "row align-items-center justify-content-center">
            <div class = "col-xl-9">
               <div class = "slider_text text-center">
                  <h3>Password set</h3>
                  <p>Your password has been set. You can
                     <a href = "{% url "login" %}">log in now</a></p>
               </div>
            </div>
         </div>
      </div>
   </div>

{% endblock %}