{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}

{% block content %}

   <div class = "bradcam_area breadcam_bg overlay2">

      <div class = "container">

         <div class = "row align-items-center justify-content-center">
            <div class = "col-xl-9">
               <div class = "slider_text text-center">
                  <h3>Reset your password</h3>
                  <p> We've emailed you instructions for setting your password.</p>
                  <p>If you don't receive an email, please make sure you've
                     entered the address you registered with.</p>
               </div>
            </div>
         </div>
      </div>
   </div>

{% endblock %}