{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}

{% block content %}
   <div class = "bradcam_area breadcam_bg overlay2">


      <div class = "popup_box ">
         <div class = "popup_inner">
            <div class = "logo text-center">
               <a href = "#">
                  <img src = "/static/img/form-logo.png" alt = "">
               </a>
            </div>

            <h3>Reset your password</h3>
            {% if validlink %}

               <form method = "POST" action = "." class = "white-popup-block">
                  {% csrf_token %}
                  <h4>Please enter your new password twice:</h4>

                  < class = "row">
                  <div class = "col-xl-12 col-md-12">
                     {{ form.as_p }}
                  </div>

                  <div class = "col-xl-12">
                     <button type = "submit" class = "boxed_btn_green">Change my password</button>
                  </div>
               </form>

            {% else %}
               <p>The password reset link was invalid, possibly because it
                  has already been used. Please request a new password reset.</p>
            {% endif %}


         </div>

      </div>
   </div>


   </div>

{% endblock %}