{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}

{% block content %}
<div class = "bradcam_area breadcam_bg overlay2">
   <form method = "POST" action = "." class = "white-popup-block">
      {% csrf_token %}

      <div class = "popup_box ">
         <div class = "popup_inner">
            <div class = "logo text-center">
               <a href = "#">
                  <img src = "/static/img/form-logo.png" alt = "">
               </a>
            </div>

            <h3>Forgotten your password?</h3>
            <h4>Enter your e-mail address to obtain a new password.</h4>

            <div class = "row">
               <div class = "col-xl-12 col-md-12">
                  {{ form.as_p }}
               </div>

               <div class = "col-xl-12">
                  <button type = "submit" class = "boxed_btn_green">Send e-mail</button>
               </div>


            </div>

         </div>
      </div>

   </form>
</div>

{% endblock %}