{% extends "base.html" %}
{% block title %}Change you password{% endblock %}
{% block content %}
    <div class="bradcam_area breadcam_bg overlay2">
   <form action = "." method = "POST" class = "white-popup-block">

      <div class = "popup_box ">
         <div class = "popup_inner">
            <div class = "logo text-center">
               <a href = "#">
                  <img src = "/static/img/form-logo.png" alt = "">
               </a>
            </div>
            <h3>Change your password</h3>
{#{{ form.as_p }}#}
                     <div class = "row">
                        <div class = "col-xl-12 col-md-12">
                           <input name = 'old_password' autocomplete="current-password" type = "password" required="" id="id_old_password"  placeholder = "Enter old password">
                        </div>
                        <div class = "col-xl-12 col-md-12">
                           <input name = "new_password1" type = "password" required="" id="id_new_password1" autocomplete="new-password" placeholder = "New password">
                        </div>
                         <div class = "col-xl-12 col-md-12">
                        <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder = "Repeat new password">
                         </div>
                            <div class = "col-xl-12">
{#                           <button type = "submit" class = "boxed_btn_green">Change</button>#}
                                <button type = "submit" class = "boxed_btn_green">Change</button>
                               {% csrf_token %}
                        </div>
                     </div>

                     {#<p class="doen_have_acc">Don’t have an account? <a class="dont-hav-acc" href="#test-form2">Sign Up</a></p>#}
                  </div>
               </div>
            </form>
         </div>

{% endblock %}