{% extends "base.html" %}

{% block title %}People{% endblock %}

{% block content %}
    <div class = "bradcam_area breadcam_bg overlay2">
  <h3>People</h3>
    </div>
  <div id="people-list">
    {% for user in users %}
      <div class="user">
        <a href="{{ user.get_absolute_url }}">
            <img src="{{ im.url }}">
        </a>
        <div class="info">
          <a href="{{ user.get_absolute_url }}" class="title">
            {{ user.get_full_name }}
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}